body{
background: rgb(123, 187, 255);
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

table {

    margin: 25px 0;
    border-bottom: 1px solid #ffffff;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid #ffffff;
}

td {
    border-top: 1px solid #ffffff;
    padding: 8px;
}

.container {
   width: 95%;
    margin: auto; 
    text-align: center; 
}

.homeHead{
    color: rgb(47, 47, 47);
}
.aboutHead {
    color: rgb(47, 47, 47);
}

