<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>

<body>
    <form method="post" action="{% url 'submit_user' %}">
        {% csrf_token %}

        <label>Name:</label>
        <input type="text" name="name" id="name"> <br> <br>

        <label>Height:</label>
        <input type="text" name="height" id="height"> <br> <br>

        <label>Weight:</label>
        <input type="text" name="weight" id="weight"> <br> <br>

        <label for="diet_choice">Choose dietary preference:</label>
        <select id="diet_choice" name="dietary_preference">
          <option value="vegitarian">Vegitarian</option>
          <option value="vegan">Vegan</option>
          <option value="no_preference">No Preference</option>
        </select>
  <input type="submit" value="Submit">

    </form>
</body>
</html>