<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destroy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='DRT Stylesheet.css') }}"/>
</head>
<body>
  <h2>Are you sure you want to delete the following course?</h2>
  
  Name: How to get more enery in the bootcamp
  Description: Description about this course...

  <form>
    <button type="submit" class="noButton-style">No</button>
    <button type="submit" class="yesButton-style">Yes! I want to delete this</button>
  </form>
</body>
</html>