<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date and Time</title>
    <style>
        .dAndT_header{
        border: solid black 1px;
        width: 10%;
        position: relative;
        left: 45%;
        }

        .dAndT{
            border: solid black 1px;
            width: 35%;
            position: relative;
        left: 35%;
        text-align: center;

        }
    </style>
</head>
<body>
    <h3 class="dAndT_header">The Current Time and Date</h3>

    <h1 class="dAndT">{{ current_datetime }}</h1>
    
</body>
</html>