<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Django Template</title>
    <style>
        .color{
            color: rgb(0, 187, 255);

        }
    </style>
</head>
<body>
   <h1>First Name:</h1> <h3 class="color">Ebonee</h3>
   <h1>Last Name:</h1> <h3 class="color">Singleteary</h3>
   <h1>Favorite Movie:</h1> <h3 class="color">The Warriors</h3>
   <h1>Favorite Music Genre:</h1> <h3 class="color">Neo-Soul</h3>
</body>
</html>