<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Contact</title>
</head>
<body>
    <h1>User Info</h1>
    <p>First Name: {{ form_data['firstname'] }}</p>
    <p>Last Name: {{ form_data['lastname'] }}</p>
    <p>Phone Number: {{ form_data['phonenumber'] }}</p>
    <p>Street Address: {{ form_data['streetaddress'] }}</p>
    <p>State: {{ form_data['state'] }}</p>
    <p>Zipcode: {{ form_data['zipcode'] }}</p>
</body>
</html>