<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div id="output"></div>
    <script>
        function printToDOM(){
        let outputElement = document.getElementById("output");
        let counter = localStorage.getItem("counter");

        if (!counter){
            counter = 0;
        }

        counter++;
        localStorage.setItem("counter", counter);

        outputElement.textContent = counter;
    }

        printToDOM();

        </script>
    
</body>
</html>