<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="/static/GNHstylesheet.css">
</head>


<body class="body-home">

    <header class="nav">
        <ul class="nav-links">

    <li><a href="/shop"><img src="/static/shopping_icon.png" alt="shop"></a>Shop</li>
    <li><a href="/rooms.html"><img src="/static/rooms_icon.png" alt="Rooms"></a>Rooms</li>
    <li class="logo-style"><a href="/home">  <img src="/static/logo_icon.png" alt="Logo"></a>Great Northern</li>
    <li><a href="/guests"><img src="/static/guests_icon.png" alt="Guests"></a>Guests</li>
    <li><a href="/amenities.html"><img src="/static/amenities_icon.png" alt="amenities"></a>Amenities</li>


    </ul>
    </header>


<h1 class="shop-greeting">The Great Northern Hotel Presents: Twin Peaks Market</h1>

<div class="shop-items">
    <img src="/static/ShopImage1.png">
    <p>RR Cafe Cherry Pie, you'll get it somehow</p> <span><u>Purchase</u></span>

    <img src="/static/ShopImage2.png">
    <p>No giftshop is complete without one</p> <span><u>Purchase</u></span>

    <img src="/static/ShopImage3.png">
    <p>GN Keychain, take us home with you</p> <span><u>Purchase</u></span>

    <!--photo row 2-->

    <img src="/static/ShopImage4.png">
    <p>RR Cafe Coffee, loved by FBI agents everywhere since 1989</p> <span><u>Purchase</u></span>

    <img src="/static/ShopImage5.png">
    <p>Wood trinkets brought to you by Packard Sawmill!</p> <span><u>Purchase</u></span>

    <img src="/static/ShopImage6.png">
    <p>RR Cafe Mug for all that coffee you're gonna buy from us.</p> <span><u>Purchase</u></span>

</div>


</body>


</html>