<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
</head>

<body>
    <a href="main.html">Home</a>
    <a href="#">Logout</a>

   <h1> {{.destination}} </h1> 

   <p>Planned By:</p>  <p>{{ trip.destination }}</p>
   <p>Description:</p> <p>{{ trip.from_datetime }}</p>
   <p>Tavel Date From:</p> <p>{{ trip.to_datetime }}</p>
   <p>Travel Date To:</p> <p>{{ trip.description }}</p>

   
        
       
        



   
</body>
</html>