<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Submit</title>
</head>
<body>
    <h1>User Info</h1>
        <p>First Name: {{ firstname }}</p>
        <p>Last Name: {{ lastname }}</p>
        <p>Email: {{ email }}</p>
        <p>Home Address: {{ homeaddress }}</p>
        <p>City: {{ city }}</p>
        <p>State: {{ state }}</p>
        <p>Gender: {{ gender }}</p>
        <p>Zipcode: {{ zipcode }}</p>
</body>
</html>