<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Ingo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'djangoAssessment.css' %}">
</head>

<body>
<h1 class="header-design">About Django:</h1>

<p>
    Django is a free and open-source, Python-based web framework
    that runs on a web server. It follows the model–template–views 
    architectural pattern.  
</p>
</body>
</html>