<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Appointment</title>
</head>

<body>
    <h1>New Appointment</h1>
    <form method="POST" action="/newappointment">
        
        
        <label>Patient Name:</label>
        <input type="text" id="patient_name" name="patient_name">

        <label>Date:</label>
        <input type="date" id="date" name="date">

        <label>Time:</label>
        <input type="time" id="time" name="time">

        <label>Complaint:</label>
        <textarea name="complaint" id="complaint"></textarea>

        <button type="submit">Cancel</button>
        <button type="submit">Add Appointment</button>
    </form>
</body>

</html>